button {
  margin-top: 1rem;
  float: right;
  transition: all 0.3s ease;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: rgb(30, 67, 190);
  border: 0;
  font-size: 16px;
  color: white;
  border-radius: 3px;
}
